*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100%;
}
#__next{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}